# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Incomplete / temporary browser downloads
*.crswap
MINDBRIDGE/frontend/resources/women voice hindi.zip

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
